@charset "utf-8";

///////////////////////////////////////////////////////
// gebruik dit bestand om scss snippets om te zetten //
///////////////////////////////////////////////////////

$vl-font-location: 'https://cdn.omgeving.vlaanderen.be/domg/govflanders-font/15.0.1/flanders/';
$vl-icon-font-location: 'https://cdn.omgeving.vlaanderen.be/domg/govflanders-font/15.0.1/iconfont/';

// @govflanders global styles
//@import "@govflanders/vl-ui-core/src/scss/setting";
//@import "@govflanders/vl-ui-core/src/scss/tool";
//@import "@govflanders/vl-ui-core/src/scss/generic/iconfont";

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.vl-radio--disabled .vl-radio__toggle:checked + .vl-radio__label::before {
    background-color: #fff;
}
// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

// npx sass src/to-prepare:dist/src/to-prepare --no-source-map --load-path ./node_modules
